/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END RESET */

/* COMMON */
body{
    background-color: #fff4e2;
    font-family: 'Open Sans', sans-serif;
}

.app-wrapper{
    width: 550px;
    height: 100vh;
    background-color: #fff;
}

.text-center{
    text-align: center;
}
/* END COMMON */

/* HEADER */
header{
    background-color: #fdbc41;
    height: 80px;
    overflow: hidden;
    padding: 30px 0 0 30px;
}
h1{
    font-size: 1.7em;
}
/* END HEADER */

/* MAIN */
main{
    height: calc( 100% - 140px );
    overflow: scroll;
    padding: 25px 30px;
}

main img{
    height: 40px;
}

#burger-name{
    border: none;
    font-size: 1.3em;
    padding: 5px 0;
}

h2{
    font-weight: 400;
    font-size: 1.1em;
    padding: 15px 0 10px 0;
}

main .ingredients-container{
    display: flex;
    flex-wrap: wrap;
}
main .ingredients-container .ingredient{
    width: 50%;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
main .ingredients-container label{
    padding: 0 10px;
}

main .discount-coupon{
    padding: 25px 0;
}
#burger-discount{
    background-color: #fff4e2;
    border: none;
    width: 50%;
    padding: 5px;
}

#calculate-button{
    background-color: #fdbc41;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
/* END MAIN */

/* FOOTER */
footer{
    background-color: #d23359;
    color: #fff;
    height: 60px;
    overflow: hidden;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
/* END FOOTER */
